local.file_match "local_files" {
    path_targets = [{"__path__" = "/tmp/test.log" , "hostname"= constants.hostname, "job"="demo_log"}]
    sync_period = "5s"
}

loki.source.file "log_scrape" {
    targets = local.file_match.local_files.targets
    forward_to = [loki.process.labels.receiver]
    tail_from_end = true
}

loki.process "labels" {
    stage.json {
        expressions = {
            "id" = "",
            "message" = "",
            "role" = "",
            "age" = "",
        }
    }
    stage.labels {
        values = {
            "id" = "",
            "age" = "",
            "role" = "",
        }
    }
    forward_to = [loki.write.loki.receiver]
}

loki.write "loki" {
    endpoint {
        url = "http://loki:3100/loki/api/v1/push"
    }
}
